:root {
    --primery-color: ;
    --secundary-color: ;
    --font-title: 4.5rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}
body {
    background-color:  #C7D7D9 ;
}
.navul {
    font-size: 2rem;
    margin-right: 10px;
    list-style: none;
    padding-left: 0%;
} 
h1 {
    color: #260B01;
    font-size: var(--font-title);
    padding: 10px;
}
.mapadiv {
    width: 60%;
    margin: auto;
}
.mapadiv path {
    fill: #e59866;
    stroke: #6e2c00;
    stroke-width: 2px;
}
.mapadiv :hover {
    fill: #f1c40f;
}

footer {
    background-color: beige;
    width: auto;
    height: 20vh;
}

/*Estilos para paginas de los estados*/
